# Coq
*.vo
*.glob
*.v.d
*.aux

# OCaml
*.a
*.o
*.cma
*.cmi
*.cmo
*.cmt
*.cmti
*.cmx
*.cmxa
*.cmxs
*.ml.d
*.mli.d
*.mllib.d
*.ml4.d
/_build

# extraction
ml/BoolServRaft.ml
ml/BoolServRaft.mli

# Others
*.bak
Makefile
.DS_Store
